@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #020202;
    --cor-secundaria: #52578d;
    --cor-terciaria: #7e7e83;
    --cor-quartenaria: #f3f3f3;
    --cor-hover: rgba(90, 90, 94, 0.555); 

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
}

body {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    box-sizing: border-box;
    width: 100%;
}

.cabecalho {
    margin: 10px;
    padding: 0;
}
.cabecalho__menu {
    display: flex;
    align-items: baseline;
    gap: 50px;
    padding: 0px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 30%;
}

.container {
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0,0.5);
    overflow: hidden;
}

.inicio{
background: var(--cor-secundaria);
padding: 24px;
text-align: center;
}

.form{
    padding: 35px;
}

.form_content{
    margin-bottom: 15px;
    padding-bottom: 18px;
    position: relative;
}

.form_content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form_content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid var(--cor-quartenaria);
}

.form_content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

#mensagem {
    height: 100px;
    padding: 20px 8px 80px;
}

.div_button{
    display: flex;
    justify-content: center;

}
.form button{
    background-color: black;
    color: var(--cor-quartenaria);
    width: 40%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

button:hover{
    background-color: var(--cor-secundaria);
    color: black;
}

.form_content.error input{
    border-color: red;
}

.form_content.error a{
    color: red;
    visibility: visible;
}
